
@{
    ViewBag.Title = "Xuly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xuly</h2>

<form action="/NhapDiem/Xuly" method="post">
    <div> Mã SV:</div><input name="Id" />
    <div> Họ tên:</div><input name="Name" />
    <div> Điểm:</div><input name="Marks" />
    <hr />
    <input type="submit" value="Nhập" />
</form>

