
@{
    ViewBag.Title = "XuLy";
}

<h2>XuLy</h2>

<div>
    <table border="1">
        <tr>
            <td>Mã SV:</td>
            <td>@ViewBag.ma</td>
        </tr>
        <tr>
            <td>Họ tên:</td>
            <td>@ViewBag.ten</td>
        </tr>
        <tr>
            <td>Điểm:</td>
            <td>@ViewBag.diem</td>
        </tr>
    </table>
</div>